@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("./root.css");
@import url("./toast.css");
@import url("./dialog.css");
@import url("./elements.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
  background-color: inherit;
  color: inherit;
  border: none;
  outline: none;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  color: var(--fg);
  background-color: var(--bg);
  font-family: "Bruno Ace";
  font-size: 18px;
}

main {
  height: calc(100% - 100px);
}

body * {
  transition: background-color 0.3s;
}
