a {
  text-decoration: none;
  color: var(--accent);
  text-underline-offset: 0px;
  transition: text-underline-offset 0.3s, color 0.3s !important;
}

a:hover {
  color: var(--accent-secondary);
  text-decoration: underline;
  text-underline-offset: 3px;
}

a.button,
button,
input[type="submit"] {
  display: inline-block;
  padding: 8px 10px;
  background-color: var(--accent);
  color: var(--bg);
  border-radius: 3px;
  text-decoration: none;
  transition: background-color 0.3s !important;
}

a.button:hover,
button:hover,
input[type="submit"]:hover {
  background-color: var(--accent-secondary);
}

input:not([type="submit"]),
select,
textarea {
  border: var(--border-clr) 1px solid;
  padding: 10px;
  border-radius: 3px;
}

textarea {
  min-height: 200px;
}

textarea:focus,
input:not([type="submit"]):focus {
  border-color: var(--accent) !important;
}

.delete {
  background-color: tomato !important;
}

.delete:hover {
  background-color: rgb(255, 159, 142) !important;
}

.delete:active {
  background-color: rgb(119, 35, 20) !important;
}
