@import url("./base.css");

main.view-user div.user-header {
  border: var(--border-clr) 4px solid;
  color: var(--accent-secondary);
  padding: 50px;
  width: 100%;
  max-width: 1000px;
  margin: 30px auto;
  display: flex;
  gap: 30px;
  align-items: center;
  border-radius: 6px;
  background: linear-gradient(to bottom, var(--bg) 0%, var(--border-clr) 100%);
}

main.view-user div.user-header div.initials {
  background-color: var(--bg);
  border: var(--accent) 3px solid;
  outline: var(--bg) 3px solid;
  margin: 0;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--accent);
  font-size: 24px;
}

main.view-user div.user-header h1.username {
  font-size: 32px;
  font-weight: 1000;
}
