@import url("./base.css");

main.view-ship {
  width: 900px;
  max-width: 100%;
  padding: 30px;
  margin: 0 auto;
}

main.view-ship h1 {
  font-size: 32px;
}

main.view-ship div.author {
  margin-top: 15px;
  opacity: 0.5;
}

main.view-ship div.image {
  background-position: center;
  background-image: var(--src);
  background-size: cover;
  aspect-ratio: 4/2.5;
  width: 100%;
  border: var(--accent) 2px solid;
  outline: var(--bg) 2px solid;
  outline-offset: -4px;
  border-radius: 6px;
  margin: 30px 0;
}

main.view-ship p {
  white-space: pre-wrap;
  line-height: 30px;
}

main.view-ship div.manage-ship {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

main.view-ship div.manage-ship a {
  text-decoration: none;
}

main.view-ship div.manage-ship button.delete {
  background-color: tomato;
}

main.view-ship div.manage-ship button.delete:hover {
  background-color: rgb(255, 159, 142);
}

main.view-ship div.manage-ship button.delete:active {
  background-color: rgb(119, 35, 20);
}
