div.dialog-wrapper div.edit-ship {
  width: 600px;
  max-width: 100%;
}

div.edit-ship > form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

div.edit-ship label {
  margin-top: 20px;
  font-size: 16px;
  opacity: 0.5;
}

div.edit-ship h1 {
  font-size: 32px;
}

div.edit-ship input {
  /* width: 350px; */
  max-width: 100%;
}

div.edit-ship textarea {
  resize: none;
  margin-bottom: 20px;
}
